header {
  width: 100%;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.wrapper {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
}

a {
  padding-right: 20px;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
